#header {
    height: 80px;
    background: #10284E;
    color: #FFF
}

#branding h1 {
    color: #FFF
}

table {
    background-color: whitesmoke;
}

.module h2, .module caption, .inline-group h2 {
    background: #30CAA0;
}

div.breadcrumbs {
    background: #30CAA0;
    color: #10284E
}

div.breadcrumbs a {
    color: #333
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #10284E;
}