#header {
    height: 50px;
    background: #10284E;
    color: #FFF
}

#branding h1 {
    color: #FFF
}

a:link,
a:visited {
    color: #10284E;
}

div.breadcrumbs {
    background: #30CAA0;
    color: #10284E
}

div.breadcrumbs a {
    color: #333
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #10284E;
}